NODE_ENV=
PORT=

RATE_LIMIT_TIME=
RATE_LIMIT_LIMIT_REQUESTS=


SIGNATURE_COOKIE=
DOMAIN_API=http://localhost:${PORT}

DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

DATABASE_URL=postgresql://${DB_USERNAME}:${DB_PASSWORD}@localhost:5432/${DB_NAME}
DATABASE_SQLITE_URL=file:./database/logs_database.db


DB_REDIS_HOST=
DB_REDIS_PORT=
DB_REDIS_PASSWORD=
